//
// I never leave the house without my confetti cannon!
//

@include keyframes(fadeIn) {
  from  { opacity: 0 }
  to    { opacity: 1 }
}

@include keyframes(fadeOut) {
  from  { opacity: 1 }
  to    { opacity: 0 }
}

@include keyframes(rotateIn) {
  0% {
    @include transform(scale(0) rotate(600deg));
  }
  70% {
    @include transform(scale(1.2) rotate(-30deg));
  }
  100% {
    @include transform(scale(1) rotate(0deg));
  }
}

@include keyframes(bounceInRight) {
  0%, 60%, 75%, 90%, 100% {
    @include transition-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }

  0% {
    opacity: 0;
    @include transform(translate3d(3000px, 0, 0));
  }

  60% {
    opacity: 1;
    @include transform(translate3d(-25px, 0, 0));
  }

  75% {
    @include transform(translate3d(10px, 0, 0));
  }

  90% {
    @include transform(translate3d(-5px, 0, 0));
  }

  100% {
    @include transform(none);
  }
}

@include keyframes(bounceOutRight) {
  20% {
    opacity: 1;
    @include transform(translate3d(-20px, 0, 0));
  }

  100% {
    opacity: 0;
    @include transform(translate3d(2000px, 0, 0));
  }
}

@include keyframes(bounceInLeft) {
  0%, 60%, 75%, 90%, 100% {
    @include transition-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }

  0% {
    opacity: 0;
    @include transform(translate3d(-3000px, 0, 0));
  }

  60% {
    opacity: 1;
    @include transform(translate3d(25px, 0, 0));
  }

  75% {
    @include transform(translate3d(-10px, 0, 0));
  }

  90% {
    @include transform(translate3d(5px, 0, 0));
  }

  100% {
    @include transform(none);
  }
}

@include keyframes(bounceOutLeft) {
  20% {
    opacity: 1;
    @include transform(translate3d(20px, 0, 0));
  }

  100% {
    opacity: 0;
    @include transform(translate3d(-2000px, 0, 0));
  }
}

@include keyframes(fallOff) {
  0% { opacity: 1 }

  10% {
    @include transform(translateX(15px));
    opacity: 1;
  }

  100% {
    @include transform(translateX(-2000px));
    opacity: 0;
  }
}

@include keyframes(fallDown) {
  0%,
  90%,
  100%  { @include transition-timing-function(cubic-bezier(0, 0.310, 1.000)) }

  0%    { @include transform(translateY(-2000px)) }
  90%   { @include transform(translateY(15px)) }
  100%   { @include transform(translateY(0px)) }
}

